<div style="position: relative;">
  <img class="fit" alt="Norway" src="assets/images/main.jpg">
  <div class="text-block">
    <h5>Accept the challenges so that you can feel the exhilaration of victory.</h5>
    <h6 style="text-align: right;">George S. Patton</h6>
  </div>
</div>

<!--Features-->
<section class="container section" id="photos">
  <h2 style="font-size: 100px;" class="center indigo-text text-darken-4">Features</h2>
  <br><br>
  <div class="row">
    <div class="col s12 l4">
      <img src="assets/images/portrait.jpg" alt="" class="responsive-img materialboxed">
    </div>
    <div class="col s12 l6 offset-l1">
      <h2 class="indigo-text text-darken-4">Lorum Ipsum</h2>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
        standard
        dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type
        specimen
        book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining
        essentially
        unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
        and more
        recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col s12 l4 offset-l1 push-l7">
      <img src="assets/images/city.jpg" alt="" class="responsive-img materialboxed">
    </div>
    <div class="col s12 l6 offset-l1 pull-l5 right-align">
      <h2 class="indigo-text text-darken-4">Lorum Ipsum</h2>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
        standard
        dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type
        specimen
        book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining
        essentially
        unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
        and
        more
        recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col s12 l4">
      <img src="assets/images/nature.jpg" alt="" class="responsive-img materialboxed">
    </div>
    <div class="col s12 l6 offset-l1">
      <h2 class="indigo-text text-darken-4">Lorum Ipsum</h2>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
        standard
        dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type
        specimen
        book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining
        essentially
        unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
        and
        more
        recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
    </div>
  </div>
</section>

<!--Parallax-1-->
<div class="parallax-container">
  <div class="parallax"><img src="assets/images/Parlax.jpg"></div>
</div>

<!--Services-->
<section class="section container" id="services">
  <div class="row">
    <div class="col s12 l5">
      <h2 class="indigo-text text-darken-4">Fun Facts</h2>
      <p>In Switzerland it is illegal to own just one guinea pig.</p>
      <p>Pteronophobia is the fear of being tickled by feathers.</p>
      <p>Snakes can help predict earthquakes.</p>
      <p>A flock of crows is known as a murder.</p>
      <p>29th May is officially “Put a Pillow on Your Fridge Day”.</p>
      <p>Cherophobia is an irrational fear of fun or happiness.</p>
      <p>If you lift a kangaroo’s tail off the ground it can’t hop.</p>
      <p>Bananas are curved because they grow towards the sun.</p>
    </div>
    <div class="col s12 l5 offset-l2">
      <!-- tabs -->
      <h2 class="indigo-text text-darken-4">Creators </h2>
      <ul class="tabs">
        <li class="tab col s6">
          <a href="#dikshu" class="active indigo-text text-darken-4">Lorem</a>
        </li>
        <li class="tab col s6">
          <a href="#arun" class="indigo-text text-darken-4">Ipsum</a>
        </li>
      </ul>
      <div id="dikshu" class="col s12">
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
          standard
          dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type
          specimen
          book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially
          unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and
          more
          recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
      </div>
      <div id="arun" class="col s12">
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
          standard
          dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type
          specimen
          book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially
          unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and
          more
          recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
      </div>
    </div>
  </div>
</section>

<!--Parallax-2-->
<div class="parallax-container">
  <div class="parallax"><img src="assets/images/background.jpg"></div>
</div>